version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: takeat_db_container
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: takeat_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: